:host {
	display: block;
	height: 100%;
}

.eco-card {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 16px;

	height: 100%;
	min-height: 105px;
	padding: 20px;

	background-color: #1e293b;
	border: 1px solid #334155;
	border-radius: 12px;

	cursor: pointer;
}

.eco-title {
	font-size: 18px;
	font-weight: 700;
	color: #f8fafc;
}

input {
	width: 22px;
	height: 22px;

	cursor: pointer;
}
